/* Josefin Sans */
@font-face {
  font-family: 'Josefin Sans';
  src: url('../src/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

/* Yeseva One */
@font-face {
  font-family: 'Yeseva One';
  src: url('../src/fonts/YesevaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  font-family: 'Josefin Sans';
  background-color: #FFFDED;
  height: 100%;
  margin: auto;

}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.homepage {
  background-image: url('../src/assets/library.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow-y: hidden;
}

.homepage-img {
  width: 100%
}

p, button, .navbar, .btn, .welcome, h3 {
  font-family: 'Josefin Sans', sans-serif !important;
}

.header, h5 {
  font-family: 'Yeseva One', sans-serif;
}
.header-home, .welcome-text {
  margin-top: 40px;
  font-family: 'Yeseva One', sans-serif;
  color: #FFFDED;
}

.welcome-text {
  font-family: 'Josefin Sans', sans-serif !important;
  color: #FFFDED;
}
.center {
  display: flex;
  justify-content: center;
}

.container-box {
  margin-top: 40px;
}

.login {
  align-items: center;
  width: 500px;
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 2px;
  justify-content: center;
}

button {
  width: 100%;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #eaeedb;
  color: #533c2e;
  cursor: pointer;
}

.search-button {
  max-width: 600px;
  margin-bottom: 40px;
  border-radius: 4px;
}

.inputfield {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* ---------------------------UserPage------------------------------- */

.saved-books {
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 40px;
  padding: 20px;
  border: 1px dotted #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.result-books img {
  width: 190px;
  height: 200px;
  object-fit: contain;
}

.result-books {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  padding: 20px;
  border: 1px dotted #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.search-result {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
  grid-gap: 20px;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 40px;
}

.result-button {
  align-self: flex-end;
}

.book-container {
  margin-bottom: 20px;
  padding: 10px;
  /* border: 1px dotted #ccc; */
  border-radius: 3px;
}
.book-thumbnail {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #234340;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button {
  color: #FFFDED !important;
  background-color: #234340 !important;
  border-color: #234340 !important;
}

.custom-button:hover {
  color: #234340 !important;
  background-color: #FFFDED !important;
  border-color: #234340 !important;
}

.add-more {
  font-family: 'Josefin Sans', sans-serif;
  color: #234340;
  text-align: center;
  margin-top: 20px;
}
.review-section {
  margin-top: 40px;
}

.divider {
  max-width: 800px;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  border-top: 1px solid #234340;
}

ul {
  list-style: none;
}
li {
  margin: 10px;
  border: 1px dotted #ccc;
  border-radius: 5px;
  padding-top: 10px;
  font-weight: 400;
}

.result {
  width: 100%;
  max-width: 900px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 40px;
  padding: 20px;
  border: 1px dotted #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.result-button {
  width: 100%;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  background-color: #234340;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-nav .nav-item {
  margin-left: 15px !important;
}

.navbar-nav .nav-link {
  font-family: 'Josefin Sans', sans-serif;
  color: #234340 !important;
}
